.header{
    display: flex;
    justify-content: space-between;
}

.logo, .logo:visited, .logo:hover, .logo:link{
    font-family: 'Pacifico', sans-serif;
    font-size: 42px;
    text-decoration: none;
    color: #474747;
    margin-top: 35px;
}

.menu{
    list-style-type: none;
    margin: 0px;
    display: flex;
    justify-content: end;
    padding: 0px;
    margin-top: 45px;
}

    .menu__item{
       margin-left: 60px;
    }

        .menu__item__link{
            text-decoration: none;
            font-family: Bebas, sans-serif;
            color: #474747;
            font-size: 20px;
        }

        .menu__item__link__title{
            color: #a5a5a5;
            font-size: 12px;
            display: block;
        }