*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;

}
.header, .footer{
    display: grid;
}
.logo ,.cbody ,.cbox ,.cfooter{
    min-height: 100px;
    
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-color: #c0c0c0;

} 
.cbox{
    height: 200px;
    width: 250px;
    

}  
    
.bodi{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}   

.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

