*{
    box-sizing: border-box;
}

body{
    background-image: url('img/bg.png');
    background-repeat: repeat;
    font-family: 'HelveticaNeue',sans-serif;
    font-size: 12px;
    color: #414141;
}
body::before{
    content: '';
    height: 7px;
    display: block;
    background-color: rgba(231,231,231,0.5);;
}
.main{
    margin: 0px auto;
    padding: 0px 10px;
}
@media (min-width: 992px){
    
    .main{
        width: 940px;
    }
} 
