.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: Pacifico, sans-serif;
    font-size: 42px;
    margin: 35px 0px 0px;
}

.menu ul{
    margin: 45px 0px 0px;
    display: flex;
    list-style: none;
    justify-content: end;
    
}

    .menu ul li{
        margin-left: 60px;
    }

    a{
        font-family: 'Bebas', sans-serif;
        font-size: 20px;
        color: #474747;
        text-decoration: none;
        text-align: left;
    }

        .menu a span{
            display: block;
            color: #a5a5a5;
            font-size: 12px;
        }